---
// 1. Import the Navbar here
import Navbar from "../components/Navbar.astro";

// 2. Accept a "title" prop so pages can set their own name
const { title = "My App" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-gray-100 min-h-screen text-black">
        <Navbar />

        <main class="flex flex-col items-center p-4 md:p-10">
             <slot />
        </main>
    </body>
</html>
<!-- <style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style> -->
